*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    display: flex;
}

.Contain-card{
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    color: rgb(8, 0, 255);
    text-align: center;
}

